<div *ngIf="apiLoaded | async" class="mapa">
    <google-map height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom">
        <map-marker #mapMarker="mapMarker" *ngFor="let sensor of sensors"
            [title]="sensor.title"
            [position]="sensor.markerPosition"
            [options]="sensor.markerOptions"
            (mapClick)="openInfoWindow(sensor, mapMarker)"></map-marker>
        <map-info-window>
            teste
            <noise-sensor [sensor]="selectedSensor"></noise-sensor>
        </map-info-window>
    </google-map>
</div>
